/*----------ESTILOS GENERALES----------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.botones{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
.botones button, .botones a {
  background-color: #cde4f4;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.0625rem;
  text-align: center;
  text-decoration: none;
  border: none;
  border: 1px solid rgb(102, 102, 102, 0.4);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  border-radius: 12px;
  color: #a26eaf;
  padding: 0.625rem 0px;
  cursor: pointer;
  width: 10.625rem;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.botones button:hover, .botones a:hover {
  transform: scale(1.04);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}
.estrellas-1 {
  background: linear-gradient(rgb(223, 236, 232, 0.9), rgba(229, 215, 239, 0.5), rgba(229, 215, 239, 0.5), rgba(229, 215, 239, 0.5), rgb(223, 236, 232, 0.7)), url(./Imágenes/estrellas2.jpeg) center / cover;
  height: 18.75rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
}
.estrellas-1__contacto {
  text-align: center;
}
.estrellas-1__contacto h1 {
  padding-top: 6.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 3.125rem;
  letter-spacing: 0.375rem;
  color: #a26eaf;;
}
.estrellas-1__contacto h2 {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-size: 1.875rem;
  letter-spacing: 0.18rem;
  color: #696868;
  margin-top: 1.25rem;
}
.titulo {
  width: 100vw;
  height: 11.25rem;
  background:linear-gradient(to right, rgba(205, 228, 244, 0.8), rgb(215, 200, 240), rgb(215, 200, 250), rgb(215, 200, 240), rgba(205, 228, 244, 0.8));
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 3.125rem;
  color: #a26eaf;
  letter-spacing: 0.375rem;
}
.titulo P {
  margin-top: 0.94rem;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.5625rem;
  color: #696868;
}

/*----------FIN ESTILOS GENERALES----------*/

/*----------HEADER----------*/

.header__nav {
  background: linear-gradient(to right, rgba(185, 190, 189, 0.8), rgb(215, 200, 224), rgb(215, 200, 224), rgb(215, 200, 224), rgb(215, 200, 224), rgba(185, 190, 189, 0.8));
  display: flex;
	justify-content: space-around;
	align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 20;
}
.header__nav-1{
  display: none;
}
.icon-menu, .icon-close{
  display: none;
  top: 0.5rem;
  left: 0.5rem;
  position: fixed;
  background: none;
  border: none;
  cursor: pointer;
  filter: contrast(30%);
  z-index: 30;
}


/*Efecto de achicar la barra de navegación con el movimiento del scroll*/
.header__nav-logo img {
  animation: achicar 1 both;
  animation-timeline: scroll();
  animation-range: 0 0.6rem;
}
@keyframes achicar {
  from { width: 6.25rem; }
  to   { width: 3.75rem; }  /* tamaño reducido */
}

.header__nav-list {
    display: flex;
    flex-wrap: wrap;
		list-style: none;
    gap: 2.5rem;
    justify-content: center;
}
.header__nav-list a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #696868;
}
.header__nav-item-menu {
  position: relative;/*Para posicionar el submenu con position absolute*/
}
.header__nav-item-menu img {
  margin-left: 0.625rem;
  transition: transform 0.2s ease-in-out;
}
.header__nav-item-menu:hover img {
  transform: rotate(180deg);
}
.header__nav-item-menu-submenu {
  position: absolute;
  top: 110%;
  left: 0;
  min-width: 12.5rem;  /* mínimo ancho legible */
  width: auto;       /* se adapta al contenido */
  white-space: nowrap; /* evita salto de línea */
  border-radius: 0.625rem;
  background-color: rgb(222, 215, 238);
  box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
  display: none;
  z-index: 1;
}
.header__nav-item-menu-submenu li {
  padding: 0.625rem 0.625rem;
  list-style: none;
}
.header__nav-item-menu-submenu a {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: #a26eaf;
  margin: 1.25rem 1.875rem 1.25rem 0.625rem;
}
.header__nav-item-menu-submenu li:not(:last-child){
  border-bottom: 1px solid #cac4c4;
  }
  .header__nav-item-menu:hover > .header__nav-item-menu-submenu {
  display: block;
}
  .header__nav-item-menu-submenu li:hover {
  background-color: #ffffff;
}
.header__nav-item-menu-submenu li:hover:first-child {
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
}
.header__nav-item-menu-submenu li:hover:last-child {
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
}
.header__nav-item-menu-submenu li:hover a {
  background-color: #ffffff;
  color: #68a8c4;
}
.header__nav-logo-redes {
  display: flex;
  gap: 1.25rem;
}
.header__nav-logo-redes img {
  filter: contrast(30%);
}
.header__nav-carrito {
  position: relative;
}
.header__nav-carrito img {
  cursor: pointer;
  filter: contrast(30%);
}
.header__nav-carrito-contador {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  border-radius: 50%;
  padding: 0.6rem;
  background-color:#696868;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  color: #ffffff;
}
.header__estrellas {
  background: linear-gradient(rgb(223, 236, 232, 0.9), rgb(223, 236, 232, 0.6), rgba(229, 215, 239, 0.5), rgba(229, 215, 239, 0.5), rgba(229, 215, 239, 0.5), rgb(223, 236, 232, 0.7)), url(./Imágenes/estrellas2.jpeg) center / cover;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}
.header__titulo {
  text-align: center;
}
.header__titulo h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  letter-spacing: 0.375rem;
  color: #696868;
}
.header__titulo h2 {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 0.375rem;
  color: #696868;
  margin-top: 2.5rem;
}
.header__simbolos{
  margin-top: 6.25rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6.25rem;
}
.header__simbolos-1 {
  /*border: 1px solid transparent;*/
  border-radius: 50%;
  padding: 1.125rem;
  background-color: #e0caf1;
}

/*----------FIN HEADER----------*/

/*----------SECTION SERVICIOS----------*/

#servicios {
  scroll-margin-top: 3.39rem;/*la barra de navegación mide 54.27px. Este es el espacio que deja para que la sección "servicios" se posicione a continuación del la brra de navegación, ya que al tener position: fixed no ocupa lugar y la sección "servicios" quedaría tapada (el título)*/
}

/*----------SUB-SECTION FORMACION-----------*/

#formacion {
  scroll-margin-top: 3.39rem;/*la barra de navegación mide 54.27px. Este es el espacio que deja para que la sección "formacion" se posicione a continuación del la brra de navegación, ya que al tener position: fixed no ocupa lugar y la sección "servicios" quedaría tapada (el título)*/
}
.formacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(229, 215, 239, 0.5);
  padding-bottom: 5rem;
}
.formacion__logo {
  margin-top: 3.125rem;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 1.125rem;
  background-color: #e7dbf0;
}
.formacion h2 {
  margin-top: 1.875rem;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: #696868;
}
.formacion__descripcion {
  max-width: 60%;
}
.formacion__descripcion h3 {
  margin-top: 3.125rem;
  margin-bottom: 1.25rem;
  text-align: left;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.75rem;
  color: #861aa1;
}
.formacion__descripcion p, .formacion__descripcion ul {
  margin-bottom: 0.94rem;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.56rem;
  color: #696868;
}
.formacion__descripcion span {
  font-weight: 600;
}
.formacion__descripcion .valor {
  margin: 1.56rem 0;
  margin-bottom: 1.56rem;
  text-align: center;
  padding-bottom: 1.56rem;
}
.formacion__descripcion .numero {
  font-weight: 500;
}
.formacion__descripcion .fin{
  padding-bottom: 1.56rem;
}
.formacion__descripcion hr {
  max-width: 90%;
  border-top: 2px solid #c5d7e4;
  margin: 1.875rem 4.375rem;        
}
.formacion__descripcion-training{
  display: flex;
  gap: 6.25rem;
}
.formacion__descripcion-training--pract1,
.formacion__descripcion-training--pract2 {
  flex: 1;
}
.formacion__descripcion li {
  margin-left: 2.5rem;
  list-style-type: "✓";
  padding-left: 0.5rem;
}

/*----------FIN SUB-SECTION FORMACION-----------*/

/*----------SUB-SECTION YOGA-----------*/

#yoga {
  scroll-margin-top: 3.39rem;/*la barra de navegación mide 55.89px. Este es el espacio que deja para que la sección "yoga" se posicione a continuación del la brra de navegación, ya que al tener position: fixed no ocupa lugar y la sección "yoga" quedaría tapada (el título)*/
}
.yoga {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background:linear-gradient(to right, rgb(215, 200, 250), rgba(205, 228, 244, 0.8), rgba(205, 228, 244, 0.8), rgb(215, 200, 250));
}
.yoga__logo {
  margin: auto;
  margin-top: 3.125rem;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 1.125rem;
  background-color: #e7dbf0;
}
.yoga h2 {
  margin-top: 1.875rem;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: #696868;
}
.fotos {
  margin-top: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 3.75rem;
}
.fotos__1, .fotos__2, .fotos__3 {
  max-width: 28.125rem;
  margin-bottom: 3.125rem;
}
.fotos__1-imagen, .fotos__2-imagen, .fotos__3-imagen {
  height: 21.875rem;
}
.fotos__1 img, .fotos__2 video, .fotos__3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.fotos__1 h3, .fotos__2 h3, .fotos__3 h3 {
  margin-top: 0.3125rem;
  text-align: left;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.75rem;
  color: #861aa1;
}
.fotos__1 p, .fotos__2 p, .fotos__3 p {
  margin-top: 0.3125rem;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.57rem;
  color: #696868;
}
.fotos__1 .modalidad {
  font-weight:500;
}
.fotos__1 .valor, .fotos__2 .valor, .fotos__3 .valor {
  font-weight: 600;
  text-align: center;
  margin-top: 0.94rem;
}
.fotos__1 .botones button, .fotos__2 .botones button, .fotos__3 .botones button {
  margin-top: 0.625rem;
}
.fotos__1 .botones a, .fotos__2 .botones a, .fotos__3 .botones a {
  margin-top: 2.5rem;
}
.fotos__1 .numero, .fotos__2 .numero,.fotos__3 .numero {
  font-weight: 500;
}

/*----------FIN SUB-SECTION YOGA-----------*/

/*----------SUB-SECTION TERAPIAS-----------*/

#terapias {
  scroll-margin-top: 3.39rem;/*la barra de navegación mide 54.27px. Este es el espacio que deja para que la sección "terapias" se posicione a continuación del la brra de navegación, ya que al tener position: fixed no ocupa lugar y la sección "yoga" quedaría tapada (el título)*/
}
.terapias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:linear-gradient(to right, rgba(205, 228, 244, 0.8),rgb(215, 200, 250),rgb(215, 200, 250), rgba(205, 228, 244, 0.8));
}
.terapias__logo {
  margin-top: 3.125rem;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 1.125rem;
  background-color: #e7dbf0;
}
.terapias h2 {
  margin-top: 1.875rem;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: #696868;
}
.terserv {
  margin-top: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 3.75rem;
}
.terserv__asesorias, .terserv__floral, .terserv__reiki {
  max-width: 28.125rem;
  margin-bottom: 3.125rem;
}
.terserv__asesorias .botones, .terserv__floral .botones, .terserv__reiki .botones {
  margin-top: 0.94rem;
}
.terserv__asesorias h3, .terserv__floral h3, .terserv__reiki h3 {
  text-align: left;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.75rem;
  color: #861aa1;
}
.terserv__asesorias p, .terserv__floral p, .terserv__reiki p {
  margin-top: 0.4rem;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.57rem;
  color: #696868;
}

/*----------FIN SUB-SECTION TERAPIAS-----------*/

/*----------SUB-SECTION ESPACIOS-----------*/

#espacios {
  scroll-margin-top: 3.39rem;/*la barra de navegación mide 54.27px. Este es el espacio que deja para que la sección "espacios" se posicione a continuación del la brra de navegación, ya que al tener position: fixed no ocupa lugar y la sección "yoga" quedaría tapada (el título)*/
}
.espacios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:linear-gradient(to right, rgb(215, 200, 250), rgba(205, 228, 244, 0.8), rgba(205, 228, 244, 0.8), rgb(215, 200, 250));
}
.espacios__logo {
  margin-top: 3.125rem;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 1.125rem;
  background-color: #e7dbf0;
}
.espacios h2 {
  margin-top: 1.875rem;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: #696868;
}
.circsagr {
  margin-top: 6.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.75rem;
}
.circsagr__descr {
  max-width: 28.125rem;
}
.circsagr__descr h3 {
  text-align: left;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.75rem;
  color: #861aa1;
  margin-bottom: 0.3125rem;
}
.circsagr__descr p {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.57rem;
  color: #696868;
}
.circsagr__descr .botones{
  margin-top: 0.94rem;
}
.circsagr__foto {
  width: 21.875rem;
  height: 28.125rem;
  margin-bottom: 3.125rem;
}
.circsagr__foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*----------FIN SUB-SECTION ESPACIOS-----------*/

/*----------FIN SECTION SERVICIOS----------*/

/*----------SECTION PRODUCTOS----------*/

#productos {
  scroll-margin-top: 3.39rem;/*la barra de navegación mide 54.27px. Este es el espacio que deja para que la sección "productos" se posicione a continuación del la brra de navegación, ya que al tener position: fixed no ocupa lugar y la sección "servicios" quedaría tapada (el título)*/
}
.producto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 3.125rem 0;
  gap: 1.5rem;
  background-color: rgb(229, 215, 239, 0.5);
}
.producto__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 25rem;
  height: auto /*47rem*/;
  padding: 1.875rem 1.25rem;
  background-color: #ffffff;
  border: 1px solid rgb(102, 102, 102, 0.4);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  border-radius: 12px;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.producto__card:hover {
  transform: scale(1.04);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}
.producto__card-img img {
  width: 120px;
  border-radius: 5px;
}
.producto__card-parrafo {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #696868;
}
.producto__card-parrafo h3 {
  font-weight: bold;
  font-size: 1rem;
}
.precio {
  margin: auto;
  font-weight: 600;
  font-size: 0.8rem;
  color: #a26eaf;
}
.producto__card-parrafo span {
  font-weight: 600;
}
.botones1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
.botones1 button {
  background-color: #cde4f4;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0rem;
  text-align: center;
  border: 1px solid rgb(102, 102, 102, 0.4);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  border-radius: 12px;
  color: #a26eaf;
  padding: 0.5rem 0px;
  cursor: pointer;
  width: 8rem;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.botones1 button:hover, .botones1 a:hover {
  transform: scale(1.04);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

/*----------FIN SECTION PRODUCTOS----------*/

/*----------ASIDE CARRITO----------*/

.carrito__container {
  position: fixed;
  background: linear-gradient(to bottom, rgba(185, 190, 189), rgb(215, 200, 224), rgb(215, 200, 224), rgb(215, 200, 224), rgb(215, 200, 224), rgba(185, 190, 189));
  display: flex;
  flex-direction: column;
	justify-content: space-around;
	align-items: center;
  top: 0;
  right: 0;
  transform: translateX(100%); /* oculto a la derecha */
  transition: transform 0.3s ease-in-out;
  width:22vw;
  height: 100vh;
  z-index: 20;
  border: 1px solid #cac4c4;
  box-shadow: -3px 0px 3px rgba(0,0,0,0.2);
}
.carrito__container h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: #696868;
  letter-spacing: 0.1rem;
}
.carrito__container-btn-icon-close.active {
  top: 1rem;
  right: 0.5rem;
  position: fixed;
  width:1.5rem ;
  background: none;
  border: none;
  cursor: pointer;
  filter: contrast(30%);
  z-index: 30;
}
.carrito__container.active {
  transform: translateX(0); /* visible al abrir */
}
.carrito__container-ul-item {
  list-style: none;
  padding: 0.625rem 0.625rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  background-color: #ffffff;
  color: #68a8c4;
  border: 1px solid #cac4c4;
  border-radius: 5px;
  margin: 0 0.5rem 0 0.5rem;
}
.carrito__container-btn-vaciar {
  background-color: #cde4f4;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0rem;
  text-align: center;
  border: 1px solid rgb(102, 102, 102, 0.4);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  border-radius: 12px;
  color: #a26eaf;
  padding: 0.5rem 0px;
  cursor: pointer;
  width: 8rem;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.carrito__container-btn-vaciar:hover {
  transform: scale(1.04);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

/*----------FIN ASIDE CARRITO----------*/

/*----------SECTION CONTACTO (INDEX 1 - NUEVA PÁGINA)----------*/

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1rem 2.5rem 1rem;
  background-color: rgb(229, 215, 239, 0.5);
}
.contact h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: #696868;
}
.contact__form {
  margin-top: 3.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*max-width: 70%;*/
  width: 100%;
  max-width: 60rem;   /* límite real en px */
  /*padding: 0 1rem;   /* mantiene margen interno */
}
.contact__form-1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.875rem;
}
.contact__form-1 label {
  width: 30%;
  min-width: 14rem;
}

.contact__form-2 {
  margin-top: 1.875rem;
  width: 100%;
}
label {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.57rem;
  color: #696868;
}
input, textarea {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.57rem;
  color: #696868;
  padding: 0.625rem 0.5rem;
  border: 1px solid rgb(102, 102, 102, 0.4);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  border-radius: 12px;
  resize: none;/*textarea*/
}
::placeholder{
  color: rgb(105, 104, 104, 0.7);
}
.referencia {
  display: flex;
  flex-direction: column;
  /*margin-top: 2.5rem;*/
}
.referencia select {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.57rem;
  color: #696868;
  padding: 0.625rem 0.5rem;
  border: none;
  border: 1px solid rgb(102, 102, 102, 0.4);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  border-radius: 12px;
  color: #696868;
}
.referencia select option{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.57rem;
  color: #696868;
  padding: 0.625rem 0.5rem;
  border: none;
  border: 1px solid rgb(102, 102, 102, 0.4);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  border-radius: 12px;
  color: #696868;
}
.contact__form button {
  margin-top: 1.25rem;
  margin-bottom: 3.125rem;
  background-color: #cde4f4;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.57rem;
  letter-spacing: 0.0625rem;
  color: #696868;
  padding: 0.625rem 0.5rem;
  border: none;
  border: 1px solid rgb(102, 102, 102, 0.4);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  border-radius: 12px;
  color: #a26eaf;
  padding: 0.625rem 2.5rem;
  cursor: pointer;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.contact__form button:hover {
  transform: scale(1.04);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}
iframe {
  width: 100%;
  max-width: 50rem;
  height: 28rem;
  border: 1px solid rgb(102, 102, 102, 0.4);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  border-radius: 12px;
}

/*----------FIN SECTION CONTACTO (INDEX 1 - NUEVA PÁGINA)----------*/

/*----------SECTION ACERCADEMI (INDEX 2 - NUEVA PÁGINA)----------*/

.acercademi{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding: 3.125rem 0;
  gap: 3.125rem;
  background-color: rgb(229, 215, 239, 0.5);
}
.acercademi__1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.125rem;
}
.acercademi__1-foto, .acercademi__1-video {
  flex: 0 0 400px;
  height: 28.125rem;
}
.acercademi__1-foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:  center top;
  border-radius: 5px;
}
.acercademi__1-video video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position:  center top;
  border-radius: 5px;
}
video::cue {
  max-width: 21.875rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 0.75rem;
  line-height: 0.3125rem;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
}
.acercademi__1-descr, .acercademi__1-descr-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 37.5rem;
  height: 28.125rem;
  border: 0px solid rgb(102, 102, 102, 0.4);
  box-shadow: 0 0 25px rgba(0,0,0,0.3);
  border-radius: 12px;
}
.acercademi__1-descr h3 {
  margin-bottom: 0.625rem;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2.19rem;
  color: #696868;
}
.acercademi__1-descr-1 h3 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2.19rem;
  color: #861aa1;
}
.acercademi__1-descr-1 h4 {
  padding: 0 1.25rem 10px 1.25rem;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.57rem;
  color: #696868;
}
.acercademi__1-descr p, .acercademi__1-descr-1 p {
  margin-top: 0.3125rem;
  padding: 0 1.25rem;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.57rem;
  color: #696868;
}

/*----------FIN SECTION ACERCADEMI (INDEX 2 - NUEVA PÁGINA)----------*/

/*----------SECTION RESEÑAS (INDEX 3 - NUEVA PÁGINA)----------*/

.resenias {
  padding: 3.125rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-content: center;
  justify-items: center;
  gap: 1.5rem;
  background-color: rgb(229, 215, 239, 0.5);
}

.resenias__card {
  width: 25rem;
  height: 33rem;
  padding: 1rem 2rem;
  border: 1.5px solid #ccc;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.resenias__card:hover {
  transform: scale(1.04);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}
.resenias__card-logo {
  border-radius: 50%;
  padding: 1.125rem;
  background-color: #e7dbf0;
}
.resenias__card-logo img {
  width: 2.5rem;
}
.resenias__card-parrafo {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.75em;
  line-height: 1.25rem;
  color: #696868;
}
.resenias__card-pie {
  display: flex;
  justify-content: space-around;
  width: 20rem;
  padding: 0 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.57rem;
  color: #696868;
}
.resenias__card-pie-estrellas {
  color: #B197FC;
  font-size: 0.7rem;
}

/*----------FIN SECTION RESEÑAS (INDEX 3 - NUEVA PÁGINA)----------*/

/*----------FOOTER----------*/

.pie {
  padding: 1.875rem 0;
  background-color:#d7c8e0;
  display: flex;
  flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
  height: auto;
}
.pie__list {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
		list-style: none;
}
.pie__list a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #696868;
}
.pie__list-item-menu {
  position: relative;/*Para posicionar el submenu con position absolute*/
}
.pie__list-item-menu img {
  margin-left: 0.625rem;
  transition: transform 0.2s ease-in-out;
}
.pie__list-item-menu:hover img {
  transform: rotate(180deg);
}
.pie__list-item-submenu {
  position: absolute;
  top: 110%;
  left: 0;
  min-width: 12.5rem;  /* mínimo ancho legible */
  width: auto;       /* se adapta al contenido */
  white-space: nowrap; /* evita salto de línea */
  list-style: none;
  border-radius: 10px;
  background-color: rgb(222, 215, 238);
  box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
  display: none;
}
.pie__list-item-submenu li {
  padding: 0.625rem 0.625rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #a26eaf;
}
.pie__list-item-submenu a {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: #a26eaf;
  margin: 1.25rem 1.875rem 1.25rem 0.625rem;
}
.pie__list-item-submenu li:not(:last-child){
  border-bottom: 1px solid #cac4c4;
  }
  .pie__list-item-menu:hover > .pie__list-item-submenu {
  display: block;
}
  .pie__list-item-submenu li:hover {
  background-color: #ffffff;
}
.pie__list-item-submenu li:hover:first-child {
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
}
.pie__list-item-submenu li:hover:last-child {
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
}
.pie__list-item-submenu li:hover a {
  color: #d6e4f5;
  background-color: #ffffff;
  color: #68a8c4;
}
.pie__info{
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #696868;
}
.pie__info h4 {
  font-size: 1rem;
  font-weight: bold;
}
.pie__info-wp, .pie__info-correo, .pie__info-direccion {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.pie__info-correo img {
  height: 1.875rem;
}
.pie__info-correo-1 {
  display: flex;
  flex-direction: column;
  gap: 0.94rem;
}
.pie__info-correo-1 a{
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #696868;
}
.pie__redes {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.25rem;
}
.pie__redes h4{
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #696868;
}
.pie__redes-icon {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}
.pie__redes img {
  filter: contrast(30%);
}
.pie-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.06rem;
  background-color: #000000;
  color: #ffffff;
}
.pie-1 p {
  margin-left: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.94rem;
  font-weight: 400;
}
.pie-1-1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.pie-1-1 img {
  margin-right: 2.5rem;
}

/*----------FIN FOOTER----------*/


/*----------MEDIA QUERIES----------*/

@media screen and (max-width: 1024px){
  .carrito__container {
    width: 40vw;
    z-index: 100;
  }
  .carrito__container h2 {
    font-size: 1.1rem;
  }
}


@media screen and (max-width: 768px) {

  /*----------ESTILOS GENERALES----------*/

  .botones button, .botones a {
    font-size: 0.74rem;
    line-height: 1.275rem;
    letter-spacing: 0.05rem;
    width: 9rem;
  }
  .estrellas-1__contacto h1 {
    font-size: 2.65rem;
    letter-spacing: 0.32rem;
  }
  .estrellas-1__contacto h2 {
    font-size: 1.59rem;
    letter-spacing: 0.15rem;
  }
  .titulo h2 {
    font-size: 2.65rem;
    letter-spacing: 0.318rem;
  }
  .titulo P {
    font-size: 1.328rem;
  }

  /*----------FIN ESTILOS GENERALES----------*/

  /*----------HEADER----------*/

  .header__nav-1 {
  background: linear-gradient(to right, rgba(185, 190, 189, 0.8), rgb(215, 200, 224), rgb(215, 200, 224), rgb(215, 200, 224), rgb(215, 200, 224), rgba(185, 190, 189, 0.8));
  display: flex;
	justify-content: space-around;
	align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  }
  .header__nav-1-logo img {
    animation: achicar 1 both;
    animation-timeline: scroll();
    animation-range: 0 0.6rem;
  }
  @keyframes achicar {
    from { width: 5.31rem; }
    to   { width: 3.75rem; }  /* tamaño reducido */
  }
  .header__nav {
    background: linear-gradient(to bottom, rgba(185, 190, 189), rgb(215, 200, 224), rgb(215, 200, 224), rgb(215, 200, 224), rgb(215, 200, 224), rgba(185, 190, 189));
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    transform: translateX(-100%); /* oculto a la izquierda */
    transition: transform 0.3s ease-in-out;
    width:100vw;
    height: 100vh;
    z-index: 20;
  }
  .header__nav-menu-btn .icon-menu {
    display: block;
  }
  .header__nav-menu-btn.active .icon-menu {
    display: none;
  }
  .header__nav-menu-btn.active .icon-close {
    display: block;
  }
  .header__nav-logo.active img {
    animation: none;
    transform: scale(0.85);
  }
  .header__nav-list {
    flex-direction: column;
    z-index: 10;
  }

  .header__nav.active {
    transform: translateX(0); /* visible al abrir */
  }
  .header__estrellas {
    padding-top: 4rem;
  }
  .header__titulo h1 {
  font-size: 3.4rem; 
  letter-spacing: 0.318rem;
  }
  .header__titulo h2 {
    font-size: 1.7rem;
    letter-spacing: 0.318rem;
  }
  .header__simbolos{
    margin-top: 6.25rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
  }
  .header__simbolos-1 {
    padding: 0.95rem;
  }
  .header__simbolos-1 img {
    scale: 0.7;
  }

  /*----------FIN HEADER----------*/

  /*----------SUB-SECTION FORMACION-----------*/

  .formacion__logo {
    padding: 0.95rem;
  }
  .formacion__logo img {
    scale: 0.85;
  }
  .formacion h2 {
    font-size: 2.125rem;
  }
  .formacion__descripcion h3 {
    font-size: 1.48rem;
  }
  .formacion__descripcion p, .formacion__descripcion ul {
    font-size: 0.85rem;
    line-height: 1.326rem;
  }

  /*----------FIN SUB-SECTION FORMACION-----------*/

  /*----------SUB-SECTION YOGA-----------*/

  .yoga__logo {
    padding: 0.95rem;
  }
  .yoga__logo img {
    max-width: 25rem;
  }
  .yoga h2 {
    font-size: 2.125rem;;
  }.fotos__1, .fotos__2, .fotos__3 {
    max-width: 20rem;
  }
  .fotos__1 h3, .fotos__2 h3, .fotos__3 h3 {
    font-size: 1.48rem;
  }
  .fotos__1 p, .fotos__2 p, .fotos__3 p {
    font-size: 0.85rem;
    line-height: 1.33rem;
  }

  /*----------FIN SUB-SECTION YOGA-----------*/

  /*----------SUB-SECTION TERAPIAS-----------*/

  .terapias__logo {
    padding: 0.95rem;
  }
  .terapias__logo img {
    scale: 0.85;
  }
  .terapias h2 {
    font-size: 2.125rem;
  }
  .terserv__asesorias, .terserv__floral, .terserv__reiki {
  max-width: 20rem;
}
  .terserv__asesorias h3, .terserv__floral h3, .terserv__reiki h3 {
    font-size: 1.48rem;
  }
  .terserv__asesorias p, .terserv__floral p, .terserv__reiki p {
    font-size: 0.85rem;
    line-height: 1.33rem;
  }

  /*----------FIN SUB-SECTION TERAPIAS-----------*/

  /*----------SUB-SECTION ESPACIOS-----------*/

  .espacios__logo {
    padding: 0.95rem;
  }
  .espacios__logo img {
    scale: 0.85;
  }
  .circsagr__descr {
  max-width: 20rem;
}
  .espacios h2 {
    font-size: 2.125rem;
  }
  .circsagr__descr h3 {
    font-size: 1.4rem;
  }
  .circsagr__descr p {
    font-size: 0.85rem;
    line-height: 1.33rem;
  }
  .circsagr__foto {
    max-width: 20rem;
    height: 28.125rem;
    margin-bottom: 3.125rem;
  }

  /*----------FIN SUB-SECTION ESPACIOS-----------*/

  /*----------SECTION CARRITO-----------*/

  .carrito__container {
    width: 60vw;
    z-index: 40;
  }
  .carrito__container-ul-item {
    font-size: 0.8rem;
  }
  .carrito__container-btn-vaciar {
    width: 9rem;
    font-size: 0.75rem;
  }
  .carrito__container-btn-icon-close.active {
    width: 1.875rem;
  }

  /*----------FIN SECTION CARRITO-----------*/

  /*----------SECTION CONTACTO (INDEX 1 - NUEVA PÁGINA)----------*/

  .contact h2 {
    font-size: 2.125rem;
  }
  label {
    font-size: 0.85rem;
    line-height: 1.33rem;
  }
  input, textarea {
    font-size: 0.85rem;
    line-height: 1.33rem;
    padding: 0.53rem 0.425rem;
  }
  .referencia select {
    font-size: 0.85rem;
    line-height: 1.33rem;
    padding: 0.53rem 0.425rem;
  }
  .referencia select option{
    font-size: 0.74rem;
    line-height: 1.33rem;
    padding: 0.53rem 0.425rem;
  }
  .contact__form button {
    font-size: 0.85rem;
    line-height: 1.33rem;
    letter-spacing: 0.053rem;
    padding: 0.53rem 0.425rem;
  }
  .contact__form {
    max-width: 100%;
  }
  .contact__form-1 {
    flex-direction: column;
    align-items: center;
  }
  .contact__form-1 label {
    width: 100%;
  }
  iframe {
    width: 100%;
    height: 18rem;
  }

  /*----------FIN SECTION CONTACTO (INDEX 1 - NUEVA PÁGINA)----------*/

  /*----------SECTION ACERCADEMI (INDEX 2 - NUEVA PÁGINA)----------*/

  .acercademi__1-foto, .acercademi__1-video {
    scale: 0.8;
  }
  .acercademi__1-descr, .acercademi__1-descr-1 {
    max-width: 25rem;
  }
  .acercademi__1-descr h3 {
    font-size: 1.752rem;
  }
  .acercademi__1-descr-1 h3 {
    font-size: 1.752rem;
  }
  .acercademi__1-descr-1 h4 {
    font-size: 0.8rem;
    line-height: 1.256rem;
  }
  .acercademi__1-descr p, .acercademi__1-descr-1 p {
    font-size: 0.8rem;
    line-height: 1.256rem;
  }

  /*----------FIN SECTION ACERCADEMI (INDEX 2 - NUEVA PÁGINA)----------*/

  /*----------FOOTER----------*/

  .pie__list a {
    font-size: 0.74rem;
  }
  .pie__list-item-submenu li {
    font-size: 0.74rem;
  }
  .pie__list-item-submenu a {
    font-size: 0.74rem;
  }
  .pie__info{
    font-size: 0.74rem;
  }
  .pie__info-wp img, .pie__info-direccion img {
    scale: 0.85;
  }
  .pie__info-correo img {
    height: 1.594rem;
  }
  .pie__info h4 {
    font-size: 0.85rem;
  }
  .pie__info-correo img {
    height: 1.875rem;
  }
  .pie__info-correo-1 a{
    font-size: 0.74rem;
  }
  .pie__redes h4{
    font-size: 0.85rem;
  }
  .pie__redes-icon img {
    scale: 0.85;
  }
  .pie__redes img {
    scale: 0.85;
  }
  .pie-1 p {
    font-size: 0.8rem;
  }
  .pie-1-1 img {
    scale: 0.85;
  }
  .pie__logo img {
    scale: 0.85;
  }

  /*----------FIN FOOTER----------*/
}


@media screen and (max-width: 600px) {

  /*----------ESTILOS GENERALES----------*/

  .botones button, .botones a {
    font-size: 0.7rem;
    line-height: 1.2rem;
    letter-spacing: 0.05rem;
    width: 8.5rem;
  }
  .estrellas-1__contacto h1 {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
  }
  .estrellas-1__contacto h2 {
    font-size: 1.5rem;
    letter-spacing: 0.144rem;
  }
  .titulo h2 {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
  }
  .titulo P {
    font-size: 1.25rem;
  }

  /*----------FIN ESTILOS GENERALES----------*/

  /*----------HEADER----------*/

  .header__nav-1 {
  background: linear-gradient(to right, rgba(185, 190, 189, 0.8), rgb(215, 200, 224), rgb(215, 200, 224), rgb(215, 200, 224), rgb(215, 200, 224), rgba(185, 190, 189, 0.8));
  display: flex;
	justify-content: space-around;
	align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  }
  .header__nav-1-logo img {
    scale: 0.8;
  }
  .header__nav {
    background: linear-gradient(to bottom, rgba(185, 190, 189), rgb(215, 200, 224), rgb(215, 200, 224), rgb(215, 200, 224), rgb(215, 200, 224), rgba(185, 190, 189));
    flex-direction: column;
    justify-content: space-around;
	  align-items: center;
    top: 0;
    left: 0;
    transform: translateX(-100%); /* oculto a la izquierda */
    transition: transform 0.3s ease-in-out;
    width:100vw;
    height: 100vh;
    z-index: 20;
  }
  .header__nav-menu-btn .icon-menu {
    display: block;
  }
  .header__nav-menu-btn.active .icon-menu {
    display: none;
  }
  .header__nav-menu-btn.active .icon-close {
    display: block;
  }
  .header__nav-logo.active img {
    animation: none;
    transform: scale(0.8);
  }
  .header__nav-list {
    flex-direction: column;
    z-index: 10;
  }
  .header__estrellas {
    padding-top: 3rem;
  }
  .header__nav.active {
    transform: translateX(0); /* visible al abrir */
  }
  
  .header__titulo h1 {
  font-size: 3.2rem;
  letter-spacing: 0.3rem;
  }
  .header__titulo h2 {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
  }
  .header__simbolos{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}
  .header__simbolos-1 {
    padding: 0.9rem;
  }
  .header__simbolos-1 img {
    scale: 0.8;
  }

  /*----------FIN HEADER----------*/

  /*----------SUB-SECTION FORMACION-----------*/

  .formacion__logo {
    padding: 0.9rem;
  }
  .formacion__logo img {
    scale: 0.8;
  }
  .formacion h2 {
    font-size: 2rem;
  }
  .formacion__descripcion h3 {
    font-size: 1.4rem;
  }
  .formacion__descripcion p, .formacion__descripcion ul {
    font-size: 0.8rem;
    line-height: 1.248rem;
  }

  /*----------FIN SUB-SECTION FORMACION-----------*/

  /*----------SUB-SECTION YOGA-----------*/

  .yoga__logo {
    padding: 0.9rem;
  }
  .yoga__logo img {
    scale: 0.8;
  }
  .yoga h2 {
    font-size: 2rem;;
  }
  .fotos__1, .fotos__2, .fotos__3 {
    max-width: 18rem;
  }
  .fotos__1 h3, .fotos__2 h3, .fotos__3 h3 {
    font-size: 1.4rem;
  }
  .fotos__1 p, .fotos__2 p, .fotos__3 p {
    font-size: 0.8rem;
    line-height: 1.256rem;
  }

  /*----------FIN SUB-SECTION YOGA-----------*/

  /*----------SUB-SECTION TERAPIAS-----------*/

  .terapias__logo {
    padding: 0.9rem;
  }
  .terapias__logo img {
    scale: 0.8;
  }
  .terapias h2 {
    font-size: 2rem;
  }
  .terserv__asesorias, .terserv__floral, .terserv__reiki {
  max-width: 18rem;
}
  .terserv__asesorias h3, .terserv__floral h3, .terserv__reiki h3 {
    font-size: 1.4rem;
  }
  .terserv__asesorias p, .terserv__floral p, .terserv__reiki p {
    font-size: 0.8rem;
    line-height: 1.256rem;
  }

  /*----------FIN SUB-SECTION TERAPIAS-----------*/

  /*----------SUB-SECTION ESPACIOS-----------*/

  .espacios__logo {
    padding: 0.9rem;
  }
  .espacios__logo img {
    scale: 0.8;
  }
  .espacios h2 {
    font-size: 2rem;
  }
  c
  .circsagr__descr h3 {
    font-size: 1.4rem;
  }
  .circsagr__descr p {
    font-size: 0.8rem;
    line-height: 1.256rem;
  }
  .circsagr__foto {
    max-width: 18rem;
    height: 22.5rem;
  }

  /*----------FIN SUB-SECTION ESPACIOS-----------*/

  /*----------SECTION PRODUCTOS----------*/

  .producto__card {
    width: 20rem;
  }
  .producto__card-img img {
    width: 96px;
  }
  .producto__card-parrafo {
    font-size: 0.6rem;
    line-height: 1rem;
  }
  .producto__card-parrafo h3 {
    font-size: 0.8rem;
  }
  .precio {
    font-size: 0.64rem;
  }
  .producto__card-parrafo span {
    font-weight: 600;
  }
  .botones1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
  }
  .botones1 button {
    font-size: 0.56rem;
    line-height: 0.96rem;
    padding: 0.4rem 0px;
    width: 6.4rem;
  }

  /*----------FIN SECTION PRODUCTOS----------*/

  /*----------SECTION CARRITO----------*/

 .carrito__container {
    width: 100vw;
    z-index: 40;
  }
  .carrito__container-ul-item {
    font-size: 0.8rem;
  }
  .carrito__container-btn-vaciar {
    width: 10rem;
    font-size: 0.8rem;
  }
  .carrito__container-btn-icon-close.active {
    width: 1.875rem;
  }

  /*----------FIN SECTION CARRITO----------*/

  /*----------SECTION CONTACTO (INDEX 1 - NUEVA PÁGINA)----------*/

  .contact h2 {
    font-size: 2rem;
  }
  label {
    font-size: 0.8rem;
    line-height: 1.256rem;
  }
  input, textarea {
    font-size: 0.8rem;
    line-height: 1.256rem;
    padding: 0.5rem 0.4rem;
  }
  .referencia select {
    font-size: 0.8rem;
    line-height: 1.256rem;
    padding: 0.5rem 0.4rem;
  }
  .referencia select option{
    font-size: 0.7rem;
    line-height: 1.256rem;
    padding: 0.5rem 0.4rem;
  }
  .contact__form button {
    font-size: 0.8rem;
    line-height: 1.256rem;
    letter-spacing: 0.05rem;
    padding: 0.5rem 0.4rem;
  }
  iframe {
    width: 100%;
    height: 18rem;
  }

  /*----------FIN SECTION CONTACTO (INDEX 1 - NUEVA PÁGINA)----------*/

  /*----------SECTION ACERCADEMI (INDEX 2 - NUEVA PÁGINA)----------*/

  .acercademi__1-descr, .acercademi__1-descr-1 {
    max-width: 22rem;
  }
  .acercademi__1-descr h3 {
    font-size: 1.86rem;
  }
  .acercademi__1-descr-1 h3 {
    font-size: 1.86rem;
  }
  .acercademi__1-descr-1 h4 {
    font-size: 0.85rem;
    line-height: 1.33rem;
  }
  .acercademi__1-descr p, .acercademi__1-descr-1 p {
    font-size: 0.85rem;
    line-height: 1.33rem;
  }

  /*----------FIN SECTION ACERCADEMI (INDEX 2 - NUEVA PÁGINA)----------*/

  /*----------SECTION RESEÑAS (INDEX 3 - NUEVA PÁGINA)----------*/

  .resenias__card {
    width: 21.5rem;
    height: 28.05rem;
    padding: 0.85rem 1.7rem;
    border: 1.5px solid #ccc;
    border-radius: 10.2px;
  }
  .resenias__card-logo {
    padding: 0.956rem;
  }
  .resenias__card-logo img {
    width: 2.125rem;
  }
  .resenias__card-parrafo {
    font-size: 0.64rem;
    line-height: 1.0625rem;
  }
  .resenias__card-pie {
    width: 17rem;
    padding: 0 1.7rem;
    font-size: 0.85rem;
    line-height: 1.33rem;
  }
  .resenias__card-pie-estrellas {
    font-size: 0.595rem;
  }

  /*----------FIN SECTION RESEÑAS (INDEX 3 - NUEVA PÁGINA)----------*/

  /*----------FOOTER----------*/

  .pie__list a {
    font-size: 0.7rem;
  }
  .pie__list-item-submenu li {
    font-size: 0.7rem;
  }
  .pie__list-item-submenu a {
    font-size: 0.7rem;
  }
  .pie__info{
    font-size: 0.7rem;
  }
  .pie__info h4 {
    font-size: 0.8rem;
  }
  .pie__info-wp img, .pie__info-direccion img {
    scale: 0.8;
  }
  .pie__info-correo img {
    height: 1.5rem;
    }
  .pie__info-correo-1 a{
    font-size: 0.7rem;
  }
  .pie__redes h4{
    font-size: 0.8rem;
  }
  .pie__redes-icon img {
    scale: 0.8;
  }
  .pie-1{
    gap: 2rem;
  }
  .pie-1 p {
    margin-left: 0.5rem;
    font-size: 0.752rem;
  }
  .pie-1-1 img {
    scale: 0.8;
  }
  .pie__logo img {
    scale: 0.8;
  }
  .pie-1-1 img {
    margin-right: 0;
  }

  /*----------FIN FOOTER----------*/
}
